.tile {
    position: absolute;
    width: 0;
    height: 0;
    background: #e6dfdf;
    box-shadow: 0 0 20px #555;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}
    .black-hole:hover .tile {
        width: 100px;
        height: 100px;
        opacity: 1;
    }
    .tile:hover {
        transform: scale(1.2);
    }

.tile-1 {
    left: -110px;
    opacity: 0;
}
.tile-2 {
    right: -130px;
    top: -175px;
    opacity: 0;
}
.tile-3 {
    top: -75px;
    left: 100px;
    opacity: 0;
}
.tile-4 {
    top: -97px;
    right: 185px;
    opacity: 0;
}
.tile-5 {
    top: 70px;
    right: 220px;
    opacity: 0;
}
.tile-6 {
    top: 110px;
    right: 115px;
    opacity: 0;
}
.tile-7 {
    top: -110px;
    right: 40px;
    opacity: 0;
}
.tile-8 {
    top: -220px;
    right: 30px;
    opacity: 0;
}