* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: url('images/technology.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-width: 400px;
}

/* --- header --- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 100;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px #00008b;
    margin-top: 10px;
    position: sticky;
    top: 10px;
}
    .logo {
        font-size: 32px;
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    }
        .logo img {
            margin: 0 10px -10px 0;
        }
        .logo span {
            color: #007bf0;
        }
    .hamburger-menu {
        font-size: 32px;
        cursor: pointer;
        font-weight: 600;
        display: none;
    }
    .nav-bar ul {
        display: flex;
        font-size: 20px;
        font-weight: 600;
    }
        .nav-bar ul li {
            margin: 0 10px;
        }
            .nav-bar ul li a {
                transition: .3s;
                padding: 10px;
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
            }
            .nav-bar ul li a:hover,
            .nav-bar ul li a.active {
                color: #007bf0;
            }
/* --- END header --- */
/* --- container --- 
main {
    width: 1300px;
    height: 1000px;
    margin: 20px auto;
    display: flex;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 15px #00008B;
    overflow: hidden;
}

/* --- END container --- */

/* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /*font-family: "Poppins", sans-serif;*/
    /*font-family: "Arial", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --text-color: #f5f5f5;
    --big-font: 35px;
    --small-font: 22px;
    --main-color: #007bf0;
    --border: .125rem solid #00008B;
    --main-light-color: #007bf0;
}

body {
    background-image: url(images/technology.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-color);
}

/* --- header --- 
header {
    width: 1300px;
    margin: 10px auto 0;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} /* --- end header --- 

    /* --- header-logo --- 
    .logo {
        font-size: var(--big-font);
        font-weight: bold;
        letter-spacing: 1px;
    }
        .logo img {
            margin-right: 10px;
            margin-bottom: -12px;
            border-radius: 50%;
            box-shadow: 0 0 15px #00abf0;
        }
        .logo span {
            color: var(--main-color);
        } /* --- end header-logo --- 
    
    /* --- nav-menu --- 
    .nav-bar ul {
        display: flex;
        gap: 25px;     
    }
        .nav-bar ul li {
            position: relative;
        }
            .nav-bar ul li a {
                font-size: 20px;
                transition: 0.3s ease;
                color: var(--text-color);
                font-weight: bold;
                border-radius: 50px;
                padding: 10px 10px;
            }
                .nav-bar ul li a:hover {
                    color: var(--text-color);
                    background: #00008B;
                    box-shadow: 0 0 15px #00008B;
                }
                .nav-bar ul li a.active {
                    color: var(--text-color);
                    background: #00008B;
                }
                    .nav-bar ul li a::before {
                        bottom: -5px;
                        background: var(--main-color);
                        transition: 0.3s ease;
                    }
                        .nav-bar ul li:first-child a::before {
                            width: 100%;
                        } /* --- end nav-menu --- 

/* --- container --- 
container {
    width: 1300px;
    height: 700px;
    margin: 10px auto;
    display: flex;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 0 20px #00008B;
    overflow: hidden;
} /* --- end container --- 

    /* --- profile-page --- 
    .profile-page {
        width: 650px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 90px 0 90px;
    }
        .profile-page img {
            width: 200px;
            border-radius: 50%;
            border: .25rem solid #00008B;
            margin-bottom: .8rem;
        }
        .profile-page h1 {
            font-size: 2.7rem;
            line-height: 1;
        }
        .profile-page h3 {
            font-size: 1.5rem;
            color: var(--main-light-color);
        }
        .profile-page .social-media {
            margin: .6rem 0 .8rem;
        }
            .profile-page .social-media a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 2.5rem;
                height: 2.5rem;
                background: transparent;
                border: .125rem solid var(--main-light-color);
                border-radius: 50%;
                font-size: 1.3rem;
                color: var(--main-light-color);
                margin: 0 .2rem;
                transition: .5s;
            }
                .profile-page .social-media a:hover {
                    background: #00008B;
                    color: var(--text-color);
                    border: var(--border);
                }
                .profile-page p {
                    text-align: justify;
                }
                    .profile-page p a {
                        color: var(--main-color);
                        transition: .5s;
                    }
                        .profile-page p a:hover {
                            color: #00abf0;
                        }
                .profile-page .btn-box {
                    margin-top: 1.2rem;
                }
                    .btn {
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        width: 9.5rem;
                        height: 3rem;
                        background: var(--main-color);
                        border: .125rem solid var(--main-light-color);
                        border-radius: .3rem;
                        font-size: 1rem;
                        color: var(--text-color);
                        font-weight: 500;
                        margin: 0 1rem;
                        transition: .5s;
                    }
                        .btn-box .btn {
                            background: transparent;
                            color: var(--main-light-color);
                        }
                            .btn-box .btn:hover {
                                background: #00008B;
                                color: var(--text-color);
                                border: var(--border);
                            } /* --- end profile-page --- 

    /* --- cards-page --- 
    .cards-page {
        width: 650px;
        height: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-transform: uppercase;
        position: relative;
    } /* --- end cards-page --- 

        /* --- stars --- 
        canvas {
            display: block;
        } /* --- end stars --- 
    
            /* --- black-hole --- 
            .black-hole {
                position: absolute;
                top: 42%;
                left: 41%;
                z-index: 2;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background: #000;
                border-top: 8px solid #000;
                box-shadow: 0 0 15px #000, 0 0 30px #000, 0 0 45px #000;
                cursor: pointer;
            } /* --- end black-hole --- 

/* === about-me === 
.container-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 65px auto;
}
    .content-hero {
        flex: 1;
        width: 600px;
        margin: 0 25px;
    }
        .content-hero h2 {
            font-size: 36px;
            margin-bottom: 40px;
            color: #fff;
        }
        .content-hero p {
            font-size: 20px;
            line-height: 1.5;
            color: var(--text-color);
            text-align: justify;
        }
            .content-hero p a {
                color: var(--main-color);
                transition: .5s;
            }
                .content-hero p a:hover {
                    color: #00abf0;
                }
    .image-hero {
        flex: 1;
        width: 600px;
    }
        .image-hero img {
            width: 95%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 0 20px #00abf0;
            display: block;
            margin: 0 auto;
            transition: transform 0.3s ease;
        }
            .image-hero img:hover {
                transform: scale(1.03);
            }
 === end about-me === */