* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /*font-family: "Poppins", sans-serif;*/
    text-decoration: none;
    list-style: none;
}

:root {
    --text-color: #f5f5f5;
    --big-font: 35px;
    --small-font: 22px;
    --main-color: #007bf0;
    --border: .125rem solid #00abf0;
}

body {
    background-image: url(images/technology.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-color);
}

/* --- telefon --- */
@media screen and (max-width: 767px) {
    header {
        width: 500px;
    }
        .hamburger {
            cursor: pointer;
        }
            .hamburger .line {
                width: 30px;
                height: 3px;
                background: #fefefe;
                margin: 6px 0;
            }
        .nav-bar {
            height: 0;
            position: absolute;
            top: 130px;
            left: 0;
            right: 0;
            max-width: 767px;
            transition: 0.5s;
            overflow: hidden;
        }
            .nav-bar.active {
                height: 250px;
            }
                .nav-bar ul {
                    flex-direction: column;
                    width: 500px;
                    margin: 20px auto 0 auto;
                    text-align: center;
                    transition: 0.5s;
                    opacity: 0;
                }
                    .nav-bar.active ul {
                        opacity: 1;
                    }
                        .nav-bar ul li a {
                            margin-bottom: 5px;
                        }
                        .nav-bar ul li:first-child a::before {
                            width: 100%;
                        }
} /* --- end telefon --- */

/* --- header --- */
header {
    max-width: 1300px;
    margin: 15px auto 0;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} /* --- end header --- */

    /* --- header-logo --- */
    .logo {
        font-size: var(--big-font);
        font-weight: bold;
        letter-spacing: 1px;
    }
        .logo img {
            margin-right: 10px;
            margin-bottom: -12px;
            border-radius: 50%;
            box-shadow: 0 0 15px #00abf0;
        }
        .logo span {
            color: var(--main-color);
        } /* --- end header-logo --- */
    
    /* --- nav-menu --- */
    .nav-bar ul {
        display: flex;
        gap: 35px;      
    }
        .nav-bar ul li {
            position: relative;
        }
            .nav-bar ul li a {
                font-size: 20px;
                transition: 0.3s ease;
                color: var(--text-color);
                font-weight: bold;
                border-radius: 50px;
                padding: 10px 10px;
            }
                .nav-bar ul li a:hover {
                    color: var(--text-color);
                    background: #00008B;
                    box-shadow: 0 0 15px #00008B;
                }
                .nav-bar ul li a.active {
                    color: var(--text-color);
                    background: #00008B;
                }
                    .nav-bar ul li a::before {
                        bottom: -5px;
                        background: var(--main-color);
                        transition: 0.3s ease;
                    }
                        .nav-bar ul li:first-child a::before {
                            width: 100%;
                        } /* --- end nav-menu --- */

/* --- container --- */
.container {
    max-width: 1300px;
    height: 700px;
    margin: 15px auto;
    display: flex;
}
    .glass {
        background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.18);
        box-shadow: 0 0 15px var(--main-color);
    }
/* --- end container --- */

/* --- home profile-page --- */
.profile-side {
    max-width: 50%;
    height: 100%;
    padding: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .profile-side img {
        width: 180px;
        border-radius: 50%;
        border: .25rem solid var(--main-color);
        margin-bottom: .8rem;
    }
    .profile-side h1 {
        font-size: 2.7rem;
        line-height: 1;
    }
    .profile-side h3 {
        font-size: 1.5rem;
        color: var(--main-color);
    }
    .profile-side .social-media {
        margin: .6rem 0 .8rem;
    }
        .profile-side .social-media a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            background: transparent;
            border: var(--border);
            border-radius: 50%;
            font-size: 1.3rem;
            color: var(--main-color);
            margin: 0 .2rem;
            transition: .5s;
        }
            .profile-side .social-media a:hover {
                background: var(--main-color);
                color: var(--text-color);
            }
    .profile-side p {
        text-align: justify;
    }
    .profile-side .btn-box {
        margin-top: 1.2rem;
    }
        .btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 9.5rem;
            height: 3rem;
            background: var(--main-color);
            border: var(--border);
            border-radius: .3rem;
            font-size: 1rem;
            color: var(--text-color);
            font-weight: 500;
            margin: 0 1rem;
            transition: .5s;
        }
            .btn-box .btn {
                background: transparent;
                color: var(--main-color);
            }
                .btn-box .btn:hover {
                    background: var(--main-color);
                    color: var(--text-color);
                }
/* --- end home profile-page --- */

/* --- home cards --- */
.cards-side {
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
}
    #card_1 {
        position: relative;
        top: 70px;
        left: 50px;
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 15px var(--main-color);
        rotate: -20deg;
        transition: 1s;
    }
        #card_1 .bxl-windows {
            width: 100%;
            height: auto;
            font-size: 4rem;
            color: var(--main-color);
            text-align: center;
        }
            #card_1:hover {
                transform: scale(1.3);
                rotate: 0deg;
            }
    #card_2 {
        position: relative;
        top: 60px;
        left: 40px;
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 15px var(--main-color);
        rotate: -5deg;
        transition: 1s;
    }
        #card_2 .bxs-server {
            width: 100%;
            height: auto;
            font-size: 4rem;
            color: var(--main-color);
            text-align: center;
        }
            #card_2:hover {
                transform: scale(1.3);
                rotate: 0deg;
            }
    #card_3 {
        position: relative;
        top: 90px;
        left: 40px;
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 15px var(--main-color);
        rotate: 20deg;
        transition: 1s;
    }
        #card_3 .bxs-data {
            width: 100%;
            height: auto;
            font-size: 4rem;
            color: var(--main-color);
            text-align: center;
        }
            #card_3:hover {
                transform: scale(1.3);
                rotate: 0deg;
            }
    #card_4 {
        position: relative;
        top: 370px;
        left: -400px;
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 15px var(--main-color);
        rotate: -15deg;
        transition: 1s;
    }
        #card_4 .bxl-html5 {
            width: 100%;
            height: auto;
            font-size: 4rem;
            color: var(--main-color);
            text-align: center;
        }
            #card_4:hover {
                transform: scale(1.3);
                rotate: 0deg;
            }
    #card_5 {
        position: relative;
        top: -5px;
        left: 40px;
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 15px var(--main-color);
        rotate: 0deg;
        transition: 1s;
    }
        #card_5 .bxl-css3 {
            width: 100%;
            height: auto;
            font-size: 4rem;
            color: var(--main-color);
            text-align: center;
        }
            #card_5:hover {
                transform: scale(1.3);
                rotate: 0deg;
            }
    #card_6 {
        position: relative;
        top: 50px;
        left: 10px;
        width: 150px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 0 15px var(--main-color);
        rotate: 15deg;
        transition: 1s;
    }
        #card_6 .bxl-java {
            width: 100%;
            height: auto;
            font-size: 4rem;
            color: var(--main-color);
            text-align: center;
        }
            #card_6:hover {
                transform: scale(1.3);
                rotate: 0deg;
            }
/* --- end home cards --- */