.container-timer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    #zegar {
        font-size: 82px;
        font-weight: 600;
        padding: 70px;
        letter-spacing: 1;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
        border: 2px solid #fff;
        box-shadow: 0 0 10px #000;
        line-height: .85;
    }